@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Exo+2');

*{
    margin: 0;
    padding: 0;
    outline: none;
}

.game__header{
    display: flex;
}
.about__heading,.screenshots__heading,.developers__heading{
    font-family: 'Josefin', sans-serif;
    font-size: 36px;
    color: #CA5E04;
    text-shadow: 3px 6px 7px #B8BCFF;
}
.game__about,.game__promo,.game__developers,.game__screenshots{
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 1px 20px 5px rgba(0,0,0,0.24), 0 0px 0px 0 rgba(0,0,0,0.19);
}
.header__navigation{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    background-color: #000000;
    z-index: 10;
}
.navigation__links-list{
    display: flex;
    align-items: center;
    margin: 0 20px 0 0;
}
.header__logo-wrapper {
    display: flex;
    font-family: 'Pacifico', sans-serif;
    font-size: 20px;
}
.logo-wrapper__logo-link{
    margin: 0 0 0 45px;
    text-decoration: none;
    color: #ffffff;
}
.links-list__link{
    display: flex;
    font-family: 'Josefin', sans-serif;
    font-size: 20px;
    margin: 0 25px 0 0;
}
.link__current-link{
    text-transform: none;
    color: #ffffff;
    text-decoration: none;
    color: white;
    text-shadow: 0px 2px 1px cyan, 0px 0px 0px blue, 0px 0 0px darkblue;
    transition: color 0.3s;
}
.link__current-link:hover{
    color: #FF8700;
    text-shadow: none;
}
.game__promo {
    display: flex;
    height: 630px;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
    background-image: url("./img/parallax-img1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.promo__description {
    margin: 260px 0 0;
    font-family: 'Exo', sans-serif;
    font-size: 80px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 5px black;
}
.promo__play-btn {
    display: flex;
    height: 40px;
    justify-content: center;
    text-align: center;
    background-color: #352925;
    margin: 20px 0 0 0;
    padding: 10px 75px 0;
    border-radius: 1%;
    color: white;
    opacity: 1;
    transition: 0.3s;
    font-family: 'Exo', sans-serif;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 2px 13px 12px 0 rgba(0,0,0,0.64), 0 20px 50px 0 rgba(0,0,0,0.1);
}
.promo__play-btn:active{
    box-shadow: none;
}
.promo__play-btn:hover {
    opacity: 0.85;
}
.game__about{
    display: flex;
    height: 400px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #E7E7E7;
}
.about__goal,.about__technologies{
    display: flex;
    flex-direction: column;
    width: 450px;
    align-items: center;
    text-align: center;
}
.technologies__description{
    text-align: center;
}
.about__heading-wrapper {
    justify-content: center;
    align-items: center;
}
.about__ico{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 0 25px 0;
}
.about__heading{
    display: flex;
    font-size: 36px;
}
.about__description-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.goal__description,.technologies__description{
    display: flex;
    font-family: 'Josefin', sans-serif;
    font-size: 22px;
    letter-spacing: 0.7px;
}
.game__screenshots{
    display: flex;
    position: relative;
    height: 700px;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
}
.screenshots__heading-wrapper {
    margin: 60px 0 0;
    font-size: 24px;
}
.screenshots__slider-wrapper{
    display: flex;
    width: 1000px;
    height: 535px;
    background-size: cover;
    overflow: hidden;
    margin: 15px 0 0;
    border: 2px solid black;
    transition: all 5.2s ease-in-out;
}
.screenshots__slider-image{
    width: 100%;
    transition: background-color 0.6s ease;
}
.active, .screenshots__slider-image:hover{
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .5} ;
    to {opacity: 1};
}
.screenshots__previous-image{
    left: 50px;
}
.screenshots__next-image{
    right: 50px;
}
.screenshots__previous-image,.screenshots__next-image{
    position: absolute;
    padding: 10px 19px;
    font-size: 20px;
    top: 360px;
    background-color: #352925;
    border-radius: 1%;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 2px 5px 5px 0 rgba(0,0,0,0.64), 0 20px 15px 0 rgba(0,0,0,0.1);
    color: #F8F8F8;
    border: none;
}
.screenshots__previous-image:hover,.screenshots__next-image:hover{
    opacity: 0.8;
    transition: opacity 0.3s ease-in;
}
.screenshots__previous-image:active,.screenshots__next-image:active{
    box-shadow: 0px 3px 1px 0 rgba(0,0,0,0.64), 0 5px 5px 0 rgba(0,0,0,0.1);
}
.game__developers {
    display: flex;
    height: 550px;
    flex-direction: column;
    background-color: #E7E7E7;
}
.developer__photo {
    display: flex;
    border-radius: 50%;
    width: 200px;
    height: 190px;
    border: 0.4px solid #000000;
}
.developers__heading-wrapper {
    display: flex;
    font-size: 24px;
    margin: 50px 0 0;
    justify-content: center;
}
.developers__developer-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 80px 0 0;
}
.developer__name{
    margin: 15px 0 0 0;
    font-weight: bold;
}
.developer__about{
    letter-spacing: 1px;
    color: #7A7A7A;
}
.developer__name, .developer__about {
    display: flex;
    width: 200px;
    font-family: 'Josefin', sans-serif;
    margin: 5px 0 5px 0;
    justify-content: center;
}
.developer__description {
    font-family: 'Josefin', sans-serif;
    width: 200px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
}
